.navbar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  display: inline-block;
  margin-top: 30px;
  transition: 1s;
  padding: 10px;
  border-radius: 25px;
}
.navbar li a:hover {
  transition: 1s;
  background-color: #fb9a08;
  border-radius: 25px;
  color: black;
  transform: translateY(10px);
}
.containerNav {
  background-color: #fcca8f;
}
@media (min-width: 1300px) {
  .navbar li a {
    font-size: 15px;
  }
}
@media all and (max-width: 1299px) and (min-width: 700px) {
}
@media all and (max-width: 699px) and (min-width: 375px) {
  .navbar li a {
    font-size: 10px;
  }
}
