.containerOfOneAvis {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 20%;
  border-radius: 25px;
  padding: 20px;
  justify-content: space-between;
}
.containerStars span {
  color: #fb9a08;
  fill: aqua;
}
.nomAvis {
  font-weight: 700;
}
.textAvis {
  font-size: 15px;
}
@media all and (max-width: 1000px) and (min-width: 700px) {
  .containerOfOneAvis {
    max-width: 40%;
  }
}
@media all and (max-width: 699px) and (min-width: 375px) {
  .containerOfOneAvis {
    max-width: 70%;
  }
}
